<% if user_signed_in? %>
  <div class="container">
    <div class="jumbotron mt-5 shadow">
      <h1 class="display-4">Bienvenue dans votre bibliothèque <%= current_user&.first_name %> !</h1>
      <p class="lead">Répertoriez vos livres afin de mieux tracker votre progression et votre lecture.</p>
      <hr class="my-4">
      <p>Vous avez actuellement <%= current_user.books.size %> livres dans votre bibliothèque.</p>
      <%= link_to "Ajouter un livre", new_book_path, class: "btn btn-success" %>
      <%= link_to "Voir mes livres", books_path, class: "btn btn-info" %>
    </div>
  </div>
<% else %>
  <div class="container">
    <div class="jumbotron mt-5 shadow">
      <h1 class="display-4">Connectez-vous</h1>
      <p class="lead">Répertoriez vos livres afin de mieux tracker votre progression et votre lecture.</p>
    </div>
  </div>
<% end %>