<div class="accordion-item">
  <h2 class="accordion-header" id="headingTwo">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
      <b>Personal states</b>
    </button>
  </h2>
  <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
    <div class="accordion-body">
      <label>Read?</label>
      <%= f.input :read, as: :select, collection: [true, false], include_blank: false %><br>

      <label>Reviewed?</label>
      <%= f.input :reviewed, as: :select, collection: [true, false], include_blank: false %><br>
    </div>
  </div>
</div>